.container {
    width: 100%;
}

.input-group-text{
    width: 35%;
}

.input-group-text{
    color: #e9ecef;
    background-color: #212529;
}


.btn-primary{
    background-color: #212529;
    border-color: #212529;
}