<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top bg-custom-2">
    <div class="container">
        <a routerLink="" class="navbar-brand"> Ｓｕｐｅｒ Ｅａｔｓ</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home">Ｈｏｍｅ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin">Ａｄｍｉｎ</a>
            </li>
            <li class="nav-item">
                <div *ngIf="isUserLoggedIn; else isLogOut">
                      <a class="nav-link" routerLink="/logout">Logout</a>
                </div>
                <ng-template #isLogOut>
                            <a class="nav-link" routerLink="/login">Login</a>
                </ng-template>
    </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>